[submodule "typescript-mean-seed"]
	path = typescript-mean-seed
	url = https://github.com/CodebitsDesign/typescript-mean-seed.git
[submodule "backend"]
	path = backend
	url = https://github.com/CodebitsDesign/typescript-mean-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/CodebitsDesign/angular4-material-frontend.git
[submodule "models"]
	path = models
	url = https://github.com/CodebitsDesign/typescript-mean-models.git
